@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Inknut+Antiqua:wght@300;400;500;600;700;800;900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Inknut+Antiqua:wght@300;400;500;600;700;800;900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

.mainconteiner {
  padding-top: 108px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.onemainconteiner {
  display: flex;
  flex-direction: column;
  gap: 130px;
}
.mainconteiner-text {
  width: 624px;
  height: 248px;
  font-family: Roboto;
  font-weight: 400;
  font-size: 124px;
  line-height: 123.84px;
  color: #000000;
}

.mainconteiner-twotext {
  width: 383px;
  height: 28px;
  font-family: Roboto;
  font-weight: 400;
  font-size: 20px;
  line-height: 27.72px;
  color: #000000;
}
.mainconteiner-threetext {
  width: 469px;
  height: 56px;
  font-family: Roboto;
  font-weight: 400;
  font-size: 20px;
  line-height: 27.72px;
  color: #000000;
}

.mainconteiner-button {
  width: 229px;
  height: 49px;
  border-radius: 50px;
  border: solid 2px;
  background-color: #ffffff;
  font-family: DM + Sans;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  cursor: pointer;
}

.textconteiners {
  display: flex;
  flex-direction: column;
  gap: 50px;
}
.mainconteiner-photo {
  width: 672px;
}

.mainconteiner-twobutton {
  width: 212px;
  height: 64px;
  border-radius: 50px;
  border: 2px solid;
  color: #000000;
  background-color: #ffffff;
  font-family: DM + Sans;
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  cursor: pointer;
}
.photomainconteiner {
  display: flex;
  flex-direction: column;
  align-items: end;
  cursor: pointer;
}

.mainconteiner-twobutton:hover {
  width: 230px;
  background-color: #40ff3d;
  transition: 0.5s;
}

.mainconteiner-button:hover {
  width: 239px;
  background-color: #40ff3d;
  transition: all 0.5s;
}

.secondconteiner {
  padding-left: 48px;
  padding-right: 48px;

  padding-top: 98px;
}

.textsecondconteiner > h1 {
  font-family: Inter;
  width: 243px;
  height: 24px;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
}
.logossecondconteiner > img {
  width: 197px;
  height: 100px;
  cursor: pointer;
}

.logossecondconteiner {
  padding-top: 80px;
  padding-bottom: 128px;
  display: flex;
  justify-content: space-between;
}

.logossecondconteiner > img:hover {
  box-shadow: 0px 0px 20px 4px;
  transition: all 0.4s;
}

.thirdconteinermain {
  background: #ffce00;
  width: 100%;
  height: 75em;
  padding: 90px 48px 90px 48px;
}

.videot {
  width: 121px;
  height: 28px;
  font-family: inter;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  color: #000000;
}
.newstring {
  width: 403px;
  height: 128px;
  font-family: Roboto;
  font-weight: 400;
  font-size: 64px;
  line-height: 64px;
}
.thirdtext {
  display: flex;
  flex-direction: column;
  gap: 83px;
}

.ptexts {
  display: flex;
  flex-direction: column;
  gap: 21px;
}

.grate {
  font-family: inter;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  width: 399px;
  height: 84px;
}
.saytext {
  font-family: inter;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  width: 304px;
  height: 56px;
}
.grate > span {
  font-family: inter;
  font-weight: 700;
  font-size: 18px;
  line-height: 28px;
}
.trygreen {
  font-family: inter;
  font-weight: 700;
  font-size: 16px;
  line-height: 16px;
  width: 193px;
  height: 36px;
  border-radius: 50px;
  border: solid 2px;
  cursor: pointer;
}
.justoneclick {
  display: flex;
  flex-direction: column;
  gap: 122px;
}
.thirdconteinertexts {
  display: flex;
  flex-direction: column;
  gap: 80px;
}

.ultracamera {
  width: 872px;
  height: 496px;
}
.mainerconteiner {
  display: flex;
  gap: 58px;
}
.photothird {
  position: relative;
  bottom: 12em;
}
.thirdconteinermain {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Main */

.fouretextconteiner {
  display: flex;
  justify-content: center;
  justify-content: space-between;
}

.onefouretextconteiner {
  width: 258px;
  height: 84px;
  font-family: inter;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  color: #000000;
  display: flex;
}

.twofouretextconteiner {
  width: 259px;
  height: 56px;
  font-family: inter;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  color: #000000;
  display: flex;
}

.threefouretextconteiner {
  width: 288px;
  height: 56px;
  font-family: inter;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  color: #000000;
  display: flex;
}

.fourefouretextconteiner {
  width: 267px;
  height: 84px;
  font-family: inter;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  color: #000000;
  display: flex;
}
.onefouretextconteiner > img {
  width: 16px;
  height: 11px;
}
.twofouretextconteiner > img {
  width: 16px;
  height: 11px;
}

.threefouretextconteiner > img {
  width: 16px;
  height: 11px;
}
.fourefouretextconteiner > img {
  width: 16px;
  height: 11px;
}

.trygreen:hover {
  transition: all 0.5s;
  width: 250px;
  height: 38px;
  background-color: rgba(128, 128, 128, 0.77);
  color: #ffffff;
}

.fifthconteiner {
  background-color: #000000;
  width: 100%;
  height: 1064px;

  padding-left: 48px;
  padding-right: 37px;

  padding-top: 90px;
}

.textfifthconteiner > h1 {
  font-family: Inter;
  width: 154px;
  height: 28px;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: #ffffff;
  text-transform: uppercase;
}

.mainlogofifthconteiner {
  padding-top: 128px;
  padding-bottom: 112px;
  display: flex;
  justify-content: space-between;
}
.onetextsfifthconteiner {
  width: 537px;
  height: 123px;
  font-family: Roboto;

  font-weight: 400;
  font-size: 122px;
  line-height: 122.4px;
  color: #ffffff;
}
.twotextsfifthconteiner {
  width: 558px;
  height: 123px;
  font-family: Roboto;

  font-weight: 400;
  font-size: 122px;
  line-height: 122.4px;
  color: #ffffff;
}
.threetextsfifthconteiner {
  width: 570px;
  height: 123px;
  font-family: Roboto;

  font-weight: 400;
  font-size: 122px;
  line-height: 122.4px;
  color: #ffffff;
}
.fourtextsfifthconteiner {
  width: 445px;
  height: 123px;
  font-family: Roboto;

  font-weight: 400;
  font-size: 122px;
  line-height: 122.4px;
  color: #ffffff;
}
.fifetextsfifthconteiner {
  width: 388px;
  height: 123px;
  font-family: Roboto;

  font-weight: 400;
  font-size: 122px;
  line-height: 122.4px;
  color: #ffffff;
}

.photofifthconteiner {
  padding-top: 122px;
}

.photofifthconteiner > img {
  width: 766px;
  height: 427px;
  cursor: pointer;
}

.photofifthconteiner > img:hover {
  box-shadow: 0px 0px 100px 3px #ffffff;
  width: 770px;
  height: 430px;
  transition: all 1s;
}

.sixthconteiner {
  background-color: #000000;
  width: 100%;
  height: 865px;

  padding-left: 16px;

  padding-top: 80px;
}

.textsixthconteiner > h1 {
  font-family: Inter;
  width: 375px;
  height: 56px;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  color: #ffffff;
  text-transform: uppercase;
}
.textsixthconteiner {
  padding-left: 32px;
}
.mainlogosixthconteiner {
  padding-top: 157px;
  padding-bottom: 128px;
  display: flex;
}

.textssixthconteiner > h1 {
  font-family: Inter;
  width: 526px;
  height: 173px;
  font-weight: 400;
  font-size: 43px;
  line-height: 43.2px;
  color: #ffffff;
}
.onetextsixthconteiner > p {
  font-family: Inter;
  width: 457px;
  height: 56px;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  color: #ffffff;
}
.onetextsixthconteiner > span {
  font-family: Inter;
  width: 70px;
  height: 24px;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #ffffff;
}
.textssixthconteiner {
  display: flex;
  flex-direction: column;
  gap: 44px;
}
.photosixthconteiner > img {
  width: 82px;
  height: 82px;
}
.photossixthconteiner {
  padding-left: 50px;
  display: flex;
  gap: 12px;
}
.twotextssixthconteiner {
  display: flex;
  flex-direction: column;
}
span {
  font-family: Inter;
  width: 70px;
  height: 24px;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #ffffff;
}
.left-rightcontainer {
  display: flex;
  align-items: center;
  justify-content: start;
  padding-top: 133px;
}
.leftbutton {
  border-radius: 100px;
  cursor: pointer;
  width: 44px;
  height: 44px;
}

.leftbutton:hover {
  box-shadow: 0px 0px 50px 0.5px #ffffff;
  transition: all 0.2s;
}
.rightbutton {
  border-radius: 100px;
  cursor: pointer;
  width: 44px;
  height: 44px;
}
.rightbutton:hover {
  box-shadow: 0px 0px 50px 0.5px #ffffff;
  transition: all 0.2s;
}

.seventhconteiner {
  background-color: #ffffff;
  width: 100%;
  height: 1062px;
  padding-left: 48px;

  padding-top: 128px;
  padding-bottom: 128px;
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.seventhHeader-text > h1 {
  width: 169px;
  height: 28px;
  font-family: Inter;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  color: #000000;
}
.secondseventhHeader-text > h1 {
  width: 431px;
  height: 128px;
  font-family: Roboto;
  font-weight: 400;
  font-size: 64px;
  line-height: 64px;
}

.textseventhconteiner {
  display: flex;
  justify-content: space-between;
}
.imgseventhconteiner > img {
  width: 923px;
  height: 519px;
}
.seventhHeader-text {
  display: flex;
  justify-content: space-between;
}
.ferriseventhconteiner {
  display: flex;
  flex-direction: column;
  gap: 57px;
}

.secondtextconteiner > p {
  width: 329px;
  height: 140px;
  font-family: Inter;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  color: #000000;
}
.secondtextconteiner > button {
  width: 186px;
  height: 25px;
  border-radius: 50px;
  border: solid 2px black;
  background-color: #ffffff;
  font-family: Inter;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: #000000;
  cursor: pointer;
}
.secondseventhconteiner {
  display: flex;
  gap: 85px;
}
.secondtextconteiner {
  padding-top: 96px;
  padding-bottom: 69px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.secondtextconteiner > button:hover {
  height: 40px;
  background-color: #40ff3d;
  transition: all 0.5s;
}

.eighthconteiner {
  background-color: #ffffff;
  width: 100%;
  height: 906px;
  padding-left: 48px;

  padding-top: 64px;
  padding-bottom: 128px;
  display: flex;
  flex-direction: column;
  gap: 96px;
}

.eighthseventhHeader-text > h1 {
  width: 443px;
  height: 128px;
  font-family: Roboto;
  font-weight: 400;
  font-size: 64px;
  line-height: 64px;
}
.eigthtextconteiner {
  padding-bottom: 136px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.eigthtextconteiner > p {
  width: 340px;
  height: 112px;
  font-family: Inter;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  color: #000000;
}
.eigthtextconteiner > button {
  width: 186px;
  height: 25px;
  border-radius: 50px;
  border: solid 2px black;
  background-color: #ffffff;
  font-family: Inter;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: #000000;
  cursor: pointer;
}
.secondeigthconteiner {
  display: flex;
  gap: 57px;
  padding-right: 48px;
}

.imgeigthconteiner > img {
  width: 935px;
  height: 529px;
}

.eigthtextconteiner > button:hover {
  height: 35px;
  background-color: rgba(132, 119, 119, 0.389);
  transition: all 0.5s;
}
